AdHocMigrator/Service References/ExecuteSQLService/VM_SQLQueries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.virtuemart.net/VM_SQLQueries/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VM_SQLQueries" targetNamespace="http://www.virtuemart.net/VM_SQLQueries/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.virtuemart.net/VM_SQLQueries/">
      <xsd:element name="ExecuteSQLQueryResponse" type="tns:SQLResultArray" />
      <xsd:element name="ExecuteSQLQueryRequest" type="tns:SQLRequest" />
      <xsd:element name="ExecuteSQLSelectQueryResponse" type="tns:SQLResultArray" />
      <xsd:element name="ExecuteSQLSelectQueryRequest" type="tns:SQLSelectRequest" />
      <xsd:element name="ExecuteSQLInsertQueryResponse" type="tns:SQLResultArray" />
      <xsd:element name="ExecuteSQLInsertQueryRequest" type="tns:SQLInsertRequest" />
      <xsd:element name="ExecuteSQLUdpateQueryResponse" type="tns:SQLResultArray" />
      <xsd:element name="ExecuteSQLUdpateQueryRequest" type="tns:SQLUpdateRequest" />
      <xsd:complexType name="loginInfo">
        <xsd:all>
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SQLResultArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SQLResult" type="tns:SQLResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SQLResult">
        <xsd:all>
          <xsd:element name="columnsAndValues" type="tns:colomnAndValueArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="colomnAndValueArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="columnAndValue" type="tns:columnAndValue" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="columnAndValue">
        <xsd:all>
          <xsd:element name="idx" type="xsd:string" />
          <xsd:element name="column" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SQLRequest">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="sqlRequest" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SQLSelectRequest">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="table" type="xsd:string" />
          <xsd:element name="whereClause" type="xsd:string" />
          <xsd:element name="columns" type="tns:columns" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SQLInsertRequest">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="table" type="xsd:string" />
          <xsd:element name="whereClause" type="xsd:string" />
          <xsd:element name="columns" type="tns:columns" />
          <xsd:element name="values" type="tns:values" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SQLUpdateRequest">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="table" type="xsd:string" />
          <xsd:element name="whereClause" type="xsd:string" />
          <xsd:element name="columns" type="tns:columns" />
          <xsd:element name="values" type="tns:values" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="columns">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="column" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="values">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteSQLQueryRequest">
    <wsdl:part name="parameters" element="tns:ExecuteSQLQueryRequest" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLQueryResponse">
    <wsdl:part name="parameters" element="tns:ExecuteSQLQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLSelectQueryResponse">
    <wsdl:part name="parameters" element="tns:ExecuteSQLSelectQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLSelectQueryRequest">
    <wsdl:part name="parameters" element="tns:ExecuteSQLSelectQueryRequest" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLInsertQueryResponse">
    <wsdl:part name="parameters" element="tns:ExecuteSQLInsertQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLInsertQueryRequest">
    <wsdl:part name="parameters" element="tns:ExecuteSQLInsertQueryRequest" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLUdpateQueryResponse">
    <wsdl:part name="parameters" element="tns:ExecuteSQLUdpateQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLUdpateQueryRequest">
    <wsdl:part name="parameters" element="tns:ExecuteSQLUdpateQueryRequest" />
  </wsdl:message>
  <wsdl:portType name="VM_SQLQueries">
    <wsdl:operation name="ExecuteSQLQuery">
      <wsdl:input message="tns:ExecuteSQLQueryRequest" />
      <wsdl:output message="tns:ExecuteSQLQueryResponse" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLSelectQuery">
      <wsdl:input message="tns:ExecuteSQLSelectQueryRequest" />
      <wsdl:output message="tns:ExecuteSQLSelectQueryResponse" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLInsertQuery">
      <wsdl:input message="tns:ExecuteSQLInsertQueryRequest" />
      <wsdl:output message="tns:ExecuteSQLInsertQueryResponse" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLUpdateQuery">
      <wsdl:input message="tns:ExecuteSQLUdpateQueryRequest" />
      <wsdl:output message="tns:ExecuteSQLUdpateQueryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VM_SQLQueriesSOAP" type="tns:VM_SQLQueries">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteSQLQuery">
      <soap:operation soapAction="http://www.virtuemart.net/VM_SQLQueries/ExecuteSQLQuery" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLSelectQuery">
      <soap:operation soapAction="http://www.virtuemart.net/VM_SQLQueries/ExecuteSQLSelectQuery" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLInsertQuery">
      <soap:operation soapAction="http://www.virtuemart.net/VM_SQLQueries/ExecuteSQLInsertQuery" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLUpdateQuery">
      <soap:operation soapAction="http://www.virtuemart.net/VM_SQLQueries/ExecuteSQLUpdateQuery" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VM_SQLQueries">
    <wsdl:port name="VM_SQLQueriesSOAP" binding="tns:VM_SQLQueriesSOAP">
      <soap:address location="http://www.magazziniautomatici.it/administrator/components/com_vm_soa/services/VM_SQLQueriesService.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>