AdHocMigrator/Service References/UsersService/VM_Users.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.virtuemart.net/VM_Users/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VM_Users" targetNamespace="http://www.virtuemart.net/VM_Users/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.virtuemart.net/VM_Users/">
      <xsd:element name="GetUsersRequest" type="tns:GetUsersInput" />
      <xsd:element name="GetUsersResponse" type="tns:UsersArray" />
      <xsd:element name="authRequest" type="tns:loginInfo" />
      <xsd:element name="authResponse" type="xsd:string" />
      <xsd:element name="addUserRequest" type="tns:AddUserInput" />
      <xsd:element name="addUserResponse" type="xsd:string" />
      <xsd:element name="updateUserRequest" type="tns:AddUserInput" />
      <xsd:element name="updateUserResponse" type="xsd:string" />
      <xsd:element name="deleteUserRequest" type="tns:DeleteUserInput" />
      <xsd:element name="deleteUserResponse" type="xsd:string" />
      <xsd:element name="sendMailRequest" type="tns:SendMailInput" />
      <xsd:element name="sendMailResponse" type="xsd:string" />
      <xsd:element name="getUserFromEmailOrUsernameRequest" type="tns:getUserFromEmailOrUsernameInput" />
      <xsd:element name="getUserFromEmailOrUsernameResponse" type="tns:UsersArray" />
      <xsd:element name="getAllCountryCodeRequest" type="tns:loginInfo" />
      <xsd:element name="getAllCountryCodeResponse" type="tns:CountryArray" />
      <xsd:element name="getAuthGroupRequest" type="tns:loginInfo" />
      <xsd:element name="getAuthGroupResponse" type="tns:AuthGroupArray" />
      <xsd:element name="addAuthGroupRequest" type="tns:AddAuthGroupInput" />
      <xsd:element name="addAuthGroupResponse" type="xsd:string" />
      <xsd:element name="deleteAuthGroupRequest" type="tns:DelAuthGroupInput" />
      <xsd:element name="deleteAuthGroupResponse" type="xsd:string" />
      <xsd:element name="getAllStatesRequest" type="tns:GetStatesInput" />
      <xsd:element name="getAllStatesResponse" type="tns:StateArray" />
      <xsd:element name="addStatesRequest" type="tns:AddStatesInput" />
      <xsd:element name="addStatesResponse" type="xsd:string" />
      <xsd:element name="deleteStatesRequest" type="tns:DelInput" />
      <xsd:element name="deleteStatesResponse" type="xsd:string" />
      <xsd:element name="getShopperGroupRequest" type="tns:loginInfo" />
      <xsd:element name="getShopperGroupResponse" type="tns:ShopperGroupArray" />
      <xsd:element name="addShopperGroupRequest" type="tns:AddShopperGroupsInput" />
      <xsd:element name="addShopperGroupResponse" type="xsd:string" />
      <xsd:element name="updateShopperGroupRequest" type="tns:AddShopperGroupsInput" />
      <xsd:element name="updateShopperGroupResponse" type="xsd:string" />
      <xsd:element name="deleteShopperGroupRequest" type="tns:DelInput" />
      <xsd:element name="deleteShopperGroupResponse" type="xsd:string" />
      <xsd:element name="getAllVendorRequest" type="tns:loginInfo" />
      <xsd:element name="getAllVendorResponse" type="tns:VendorArray" />
      <xsd:element name="addVendorRequest" type="tns:AddVendorInput" />
      <xsd:element name="addVendorResponse" type="xsd:string" />
      <xsd:element name="updateVendorRequest" type="tns:AddVendorInput" />
      <xsd:element name="updateVendorResponse" type="xsd:string" />
      <xsd:element name="deleteVendorRequest" type="tns:DelInput" />
      <xsd:element name="deleteVendorResponse" type="xsd:string" />
      <xsd:element name="getAllVendorCategoryRequest" type="tns:loginInfo" />
      <xsd:element name="getAllVendorCategoryResponse" type="tns:VendorCategoryArray" />
      <xsd:element name="addVendorCategoryRequest" type="tns:AddVendorCatInput" />
      <xsd:element name="addVendorCategoryResponse" type="xsd:string" />
      <xsd:element name="updateVendorCategoryRequest" type="tns:AddVendorCatInput" />
      <xsd:element name="updateVendorCategoryResponse" type="xsd:string" />
      <xsd:element name="deleteVendorCategoryRequest" type="tns:DelInput" />
      <xsd:element name="deleteVendorCategoryResponse" type="xsd:string" />
      <xsd:element name="getAllManufacturerRequest" type="tns:loginInfo" />
      <xsd:element name="getAllManufacturerResponse" type="tns:ManufacturerArray" />
      <xsd:element name="addManufacturerRequest" type="tns:AddManufacturerInput" />
      <xsd:element name="addManufacturerResponse" type="xsd:string" />
      <xsd:element name="updateManufacturerRequest" type="tns:AddManufacturerInput" />
      <xsd:element name="updateManufacturerResponse" type="xsd:string" />
      <xsd:element name="deleteManufacturerRequest" type="tns:DelInput" />
      <xsd:element name="deleteManufacturerResponse" type="xsd:string" />
      <xsd:element name="getAllManufacturerCatRequest" type="tns:loginInfo" />
      <xsd:element name="getAllManufacturerCatResponse" type="tns:ManufacturerCatArray" />
      <xsd:element name="addManufacturerCatRequest" type="tns:AddManufacturerCatInput" />
      <xsd:element name="addManufacturerCatResponse" type="xsd:string" />
      <xsd:element name="updateManufacturerCatRequest" type="tns:AddManufacturerCatInput" />
      <xsd:element name="updateManufacturerCatResponse" type="xsd:string" />
      <xsd:element name="deleteManufacturerCatRequest" type="tns:DelInput" />
      <xsd:element name="deleteManufacturerCatResponse" type="xsd:string" />
      <xsd:element name="GetAvailableImagesResponse" type="tns:AvalaibleImageArray" />
      <xsd:element name="GetAvailableImagesRequest" type="tns:loginInfo" />
      <xsd:element name="GetVersionsResponse" type="tns:Version" />
      <xsd:element name="GetVersionsRequest" type="tns:loginInfo" />
      <xsd:element name="GetAdditionalUserInfoResponse" type="tns:UsersArray" />
      <xsd:element name="GetAdditionalUserInfoRequest" type="tns:GetAdditionalUserInfoInput" />
      <xsd:element name="GetSessionsRequest" type="tns:GetSessionsInput" />
      <xsd:element name="GetSessionsResponse" type="tns:Sessions" />
      <xsd:element name="GetWaitingListRequest" type="tns:GetWaitingListInput" />
      <xsd:element name="GetWaitingListResponse" type="tns:WaitingLists" />
      <xsd:element name="NotifyWaitingListRequest" type="tns:NotifyWaitingListInput" />
      <xsd:element name="NotifyWaitingListResponse" type="xsd:string" />
      <xsd:element name="GetUserInfoFromOrderIDResponse" type="tns:UsersArray" />
      <xsd:element name="GetUserInfoFromOrderIDRequest" type="tns:GetUserInfoFromOrderIDInput" />
      <xsd:complexType name="loginInfo">
        <xsd:all>
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="lang" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ids">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DelInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="ids" type="tns:ids" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetUsersInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="limite_start" type="xsd:string" />
          <xsd:element name="limite_end" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="NotifyWaitingListInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="ids" type="tns:ids" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetWaitingListInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="waiting_list_id" type="xsd:string" />
          <xsd:element name="product_id" type="xsd:string" />
          <xsd:element name="user_id" type="xsd:string" />
          <xsd:element name="notify_email" type="xsd:string" />
          <xsd:element name="notified" type="xsd:string" />
          <xsd:element name="notify_date" type="xsd:string" />
          <xsd:element name="limite_start" type="xsd:string" />
          <xsd:element name="limite_end" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="WaitingLists">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WaitingList" type="tns:WaitingList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WaitingList">
        <xsd:all>
          <xsd:element name="waiting_list_id" type="xsd:string" />
          <xsd:element name="product_id" type="xsd:string" />
          <xsd:element name="user_id" type="xsd:string" />
          <xsd:element name="notify_email" type="xsd:string" />
          <xsd:element name="notified" type="xsd:string" />
          <xsd:element name="notify_date" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetSessionsInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="with_data" type="xsd:string" />
          <xsd:element name="guest" type="xsd:string" />
          <xsd:element name="usertype" type="xsd:string" />
          <xsd:element name="gid" type="xsd:string" />
          <xsd:element name="client_id" type="xsd:string" />
          <xsd:element name="limite_start" type="xsd:string" />
          <xsd:element name="limite_end" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sessions">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Session" type="tns:Session" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Session">
        <xsd:all>
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="time" type="xsd:string" />
          <xsd:element name="session_id" type="xsd:string" />
          <xsd:element name="guest" type="xsd:string" />
          <xsd:element name="userid" type="xsd:string" />
          <xsd:element name="usertype" type="xsd:string" />
          <xsd:element name="gid" type="xsd:string" />
          <xsd:element name="client_id" type="xsd:string" />
          <xsd:element name="data" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetUserInfoFromOrderIDInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="order_id" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetAdditionalUserInfoInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="user_id" type="xsd:string" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="User">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="title" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="firstname" type="xsd:string" />
          <xsd:element name="lastname" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="address" type="xsd:string" />
          <xsd:element name="address2" type="xsd:string" />
          <xsd:element name="state_region" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="country" type="xsd:string" />
          <xsd:element name="zipcode" type="xsd:string" />
          <xsd:element name="phone" type="xsd:string" />
          <xsd:element name="mobile" type="xsd:string" />
          <xsd:element name="fax" type="xsd:string" />
          <xsd:element name="cdate" type="xsd:string" />
          <xsd:element name="mdate" type="xsd:string" />
          <xsd:element name="perms" type="xsd:string" />
          <xsd:element name="bank_account_nr" type="xsd:string" />
          <xsd:element name="bank_name" type="xsd:string" />
          <xsd:element name="bank_sort_code" type="xsd:string" />
          <xsd:element name="bank_iban" type="xsd:string" />
          <xsd:element name="bank_account_holder" type="xsd:string" />
          <xsd:element name="bank_account_type" type="xsd:string" />
          <xsd:element name="shopper_group_id" type="xsd:string" />
          <xsd:element name="customer_number" type="xsd:string" />
          <xsd:element name="groupe_id" type="xsd:string" />
          <xsd:element name="user_info_id" type="xsd:string" />
          <xsd:element name="address_type" type="xsd:string" />
          <xsd:element name="address_type_name" type="xsd:string" />
          <xsd:element name="company" type="xsd:string" />
          <xsd:element name="middle_name" type="xsd:string" />
          <xsd:element name="phone_2" type="xsd:string" />
          <xsd:element name="extra_field_1" type="xsd:string" />
          <xsd:element name="extra_field_2" type="xsd:string" />
          <xsd:element name="extra_field_3" type="xsd:string" />
          <xsd:element name="extra_field_4" type="xsd:string" />
          <xsd:element name="extra_field_5" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="EmailParams">
        <xsd:all>
          <xsd:element name="from_mail" type="xsd:string" />
          <xsd:element name="from_name" type="xsd:string" />
          <xsd:element name="recipient" type="xsd:string" />
          <xsd:element name="subject" type="xsd:string" />
          <xsd:element name="body" type="xsd:string" />
          <xsd:element name="altbody" type="xsd:string" />
          <xsd:element name="mode" type="xsd:string" />
          <xsd:element name="cc" type="xsd:string" />
          <xsd:element name="bcc" type="xsd:string" />
          <xsd:element name="images" type="tns:Images" />
          <xsd:element name="attachment" type="xsd:string" />
          <xsd:element name="replyto" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Images">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Image" type="tns:Image" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Image">
        <xsd:all>
          <xsd:element name="path" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="filename" type="xsd:string" />
          <xsd:element name="encoding" type="xsd:string" />
          <xsd:element name="mimetype" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SendMailInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="EmailParams" type="tns:EmailParams" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UsersArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="User" type="tns:User" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddUserInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="User" type="tns:User" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DeleteUserInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="user_id" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="user_ids">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="user_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getUserFromEmailOrUsernameInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="user_ids" type="tns:user_ids" />
          <xsd:element name="searchtype" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Country">
        <xsd:all>
          <xsd:element name="country_id" type="xsd:string" />
          <xsd:element name="zone_id" type="xsd:string" />
          <xsd:element name="country_name" type="xsd:string" />
          <xsd:element name="country_3_code" type="xsd:string" />
          <xsd:element name="country_2_code" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CountryArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Country" type="tns:Country" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuthGroup">
        <xsd:all>
          <xsd:element name="group_id" type="xsd:string" />
          <xsd:element name="group_name" type="xsd:string" />
          <xsd:element name="group_level" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AuthGroupArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AuthGroup" type="tns:AuthGroup" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddAuthGroupInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="AuthGroup" type="tns:AuthGroup" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DelAuthGroupInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="group_id" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="State">
        <xsd:all>
          <xsd:element name="state_id" type="xsd:string" />
          <xsd:element name="country_id" type="xsd:string" />
          <xsd:element name="state_name" type="xsd:string" />
          <xsd:element name="state_3_code" type="xsd:string" />
          <xsd:element name="state_2_code" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="StateArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="State" type="tns:State" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetStatesInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="country_id" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="States">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="State" type="tns:State" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddStatesInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="States" type="tns:States" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ShopperGroup">
        <xsd:all>
          <xsd:element name="shopper_group_id" type="xsd:string" />
          <xsd:element name="vendor_id" type="xsd:string" />
          <xsd:element name="shopper_group_name" type="xsd:string" />
          <xsd:element name="shopper_group_desc" type="xsd:string" />
          <xsd:element name="shopper_group_discount" type="xsd:string" />
          <xsd:element name="show_price_including_tax" type="xsd:string" />
          <xsd:element name="default" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ShopperGroupArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ShopperGroup" type="tns:ShopperGroup" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ShopperGroups">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="shoppergroup" type="tns:ShopperGroup" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddShopperGroupsInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="shoppergroups" type="tns:ShopperGroups" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Vendor">
        <xsd:all>
          <xsd:element name="vendor_id" type="xsd:string" />
          <xsd:element name="vendor_name" type="xsd:string" />
          <xsd:element name="contact_last_name" type="xsd:string" />
          <xsd:element name="contact_first_name" type="xsd:string" />
          <xsd:element name="contact_middle_name" type="xsd:string" />
          <xsd:element name="contact_title" type="xsd:string" />
          <xsd:element name="contact_phone_1" type="xsd:string" />
          <xsd:element name="contact_phone_2" type="xsd:string" />
          <xsd:element name="contact_fax" type="xsd:string" />
          <xsd:element name="contact_email" type="xsd:string" />
          <xsd:element name="vendor_phone" type="xsd:string" />
          <xsd:element name="vendor_address_1" type="xsd:string" />
          <xsd:element name="vendor_address_2" type="xsd:string" />
          <xsd:element name="vendor_city" type="xsd:string" />
          <xsd:element name="vendor_state" type="xsd:string" />
          <xsd:element name="vendor_country" type="xsd:string" />
          <xsd:element name="vendor_zip" type="xsd:string" />
          <xsd:element name="vendor_store_name" type="xsd:string" />
          <xsd:element name="vendor_store_desc" type="xsd:string" />
          <xsd:element name="vendor_category_id" type="xsd:string" />
          <xsd:element name="vendor_thumb_image" type="xsd:string" />
          <xsd:element name="vendor_full_image" type="xsd:string" />
          <xsd:element name="vendor_currency" type="xsd:string" />
          <xsd:element name="cdate" type="xsd:string" />
          <xsd:element name="mdate" type="xsd:string" />
          <xsd:element name="vendor_image_path" type="xsd:string" />
          <xsd:element name="vendor_terms_of_service" type="xsd:string" />
          <xsd:element name="vendor_url" type="xsd:string" />
          <xsd:element name="vendor_min_pov" type="xsd:string" />
          <xsd:element name="vendor_freeshipping" type="xsd:string" />
          <xsd:element name="vendor_currency_display_style" type="xsd:string" />
          <xsd:element name="vendor_accepted_currencies" type="xsd:string" />
          <xsd:element name="vendor_address_format" type="xsd:string" />
          <xsd:element name="vendor_date_format" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VendorArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Vendor" type="tns:Vendor" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddVendorInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="Vendor" type="tns:Vendor" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VendorCategory">
        <xsd:all>
          <xsd:element name="vendor_category_id" type="xsd:string" />
          <xsd:element name="vendor_category_name" type="xsd:string" />
          <xsd:element name="vendor_category_desc" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VendorCategoryArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="VendorCategory" type="tns:VendorCategory" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddVendorCatInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="VendorCategory" type="tns:VendorCategory" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Manufacturer">
        <xsd:all>
          <xsd:element name="manufacturer_id" type="xsd:string" />
          <xsd:element name="mf_name" type="xsd:string" />
          <xsd:element name="mf_email" type="xsd:string" />
          <xsd:element name="mf_desc" type="xsd:string" />
          <xsd:element name="mf_category_id" type="xsd:string" />
          <xsd:element name="mf_url" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ManufacturerArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Manufacturer" type="tns:Manufacturer" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddManufacturerInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="Manufacturer" type="tns:Manufacturer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ManufacturerCat">
        <xsd:all>
          <xsd:element name="mf_category_id" type="xsd:string" />
          <xsd:element name="mf_category_name" type="xsd:string" />
          <xsd:element name="mf_category_desc" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ManufacturerCatArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ManufacturerCat" type="tns:ManufacturerCat" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddManufacturerCatInput">
        <xsd:all>
          <xsd:element name="loginInfo" type="tns:loginInfo" />
          <xsd:element name="ManufacturerCat" type="tns:ManufacturerCat" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AvalaibleImage">
        <xsd:all>
          <xsd:element name="image_name" type="xsd:string" />
          <xsd:element name="image_url" type="xsd:string" />
          <xsd:element name="realpath" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AvalaibleImageArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AvalaibleImage" type="tns:AvalaibleImage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Version">
        <xsd:all>
          <xsd:element name="SOA_For_Virtuemart_Version" type="xsd:string" />
          <xsd:element name="Joomla_Version" type="xsd:string" />
          <xsd:element name="Virtuemart_Version" type="xsd:string" />
          <xsd:element name="Database_Version" type="xsd:string" />
          <xsd:element name="Author" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetUsersRequest">
    <wsdl:part name="parameters" element="tns:GetUsersRequest" />
  </wsdl:message>
  <wsdl:message name="GetUsersResponse">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="authRequest">
    <wsdl:part name="parameters" element="tns:authRequest" />
  </wsdl:message>
  <wsdl:message name="authResponse">
    <wsdl:part name="parameters" element="tns:authResponse" />
  </wsdl:message>
  <wsdl:message name="addUserRequest">
    <wsdl:part name="parameters" element="tns:addUserRequest" />
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="deleteUserRequest">
    <wsdl:part name="parameters" element="tns:deleteUserRequest" />
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="sendMailRequest">
    <wsdl:part name="parameters" element="tns:sendMailRequest" />
  </wsdl:message>
  <wsdl:message name="sendMailResponse">
    <wsdl:part name="parameters" element="tns:sendMailResponse" />
  </wsdl:message>
  <wsdl:message name="getUserFromEmailOrUsernameRequest">
    <wsdl:part name="parameters" element="tns:getUserFromEmailOrUsernameRequest" />
  </wsdl:message>
  <wsdl:message name="getUserFromEmailOrUsernameResponse">
    <wsdl:part name="parameters" element="tns:getUserFromEmailOrUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="getAllCountryCodeRequest">
    <wsdl:part name="parameters" element="tns:getAllCountryCodeRequest" />
  </wsdl:message>
  <wsdl:message name="getAllCountryCodeResponse">
    <wsdl:part name="parameters" element="tns:getAllCountryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getAuthGroupRequest">
    <wsdl:part name="parameters" element="tns:getAuthGroupRequest" />
  </wsdl:message>
  <wsdl:message name="getAuthGroupResponse">
    <wsdl:part name="parameters" element="tns:getAuthGroupResponse" />
  </wsdl:message>
  <wsdl:message name="addAuthGroupRequest">
    <wsdl:part name="parameters" element="tns:addAuthGroupRequest" />
  </wsdl:message>
  <wsdl:message name="addAuthGroupResponse">
    <wsdl:part name="parameters" element="tns:addAuthGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAuthGroupRequest">
    <wsdl:part name="parameters" element="tns:deleteAuthGroupRequest" />
  </wsdl:message>
  <wsdl:message name="deleteAuthGroupResponse">
    <wsdl:part name="parameters" element="tns:deleteAuthGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getAllStatesRequest">
    <wsdl:part name="parameters" element="tns:getAllStatesRequest" />
  </wsdl:message>
  <wsdl:message name="getAllStatesResponse">
    <wsdl:part name="parameters" element="tns:getAllStatesResponse" />
  </wsdl:message>
  <wsdl:message name="addStatesRequest">
    <wsdl:part name="parameters" element="tns:addStatesRequest" />
  </wsdl:message>
  <wsdl:message name="addStatesResponse">
    <wsdl:part name="parameters" element="tns:addStatesResponse" />
  </wsdl:message>
  <wsdl:message name="deleteStatesRequest">
    <wsdl:part name="parameters" element="tns:deleteStatesRequest" />
  </wsdl:message>
  <wsdl:message name="deleteStatesResponse">
    <wsdl:part name="parameters" element="tns:deleteStatesResponse" />
  </wsdl:message>
  <wsdl:message name="getShopperGroupRequest">
    <wsdl:part name="parameters" element="tns:getShopperGroupRequest" />
  </wsdl:message>
  <wsdl:message name="getShopperGroupResponse">
    <wsdl:part name="parameters" element="tns:getShopperGroupResponse" />
  </wsdl:message>
  <wsdl:message name="addShopperGroupRequest">
    <wsdl:part name="parameters" element="tns:addShopperGroupRequest" />
  </wsdl:message>
  <wsdl:message name="addShopperGroupResponse">
    <wsdl:part name="parameters" element="tns:addShopperGroupResponse" />
  </wsdl:message>
  <wsdl:message name="updateShopperGroupRequest">
    <wsdl:part name="parameters" element="tns:updateShopperGroupRequest" />
  </wsdl:message>
  <wsdl:message name="updateShopperGroupResponse">
    <wsdl:part name="parameters" element="tns:updateShopperGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteShopperGroupRequest">
    <wsdl:part name="parameters" element="tns:deleteShopperGroupRequest" />
  </wsdl:message>
  <wsdl:message name="deleteShopperGroupResponse">
    <wsdl:part name="parameters" element="tns:deleteShopperGroupResponse" />
  </wsdl:message>
  <wsdl:message name="updateUserRequest">
    <wsdl:part name="parameters" element="tns:updateUserRequest" />
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="getAllVendorRequest">
    <wsdl:part name="parameters" element="tns:getAllVendorRequest" />
  </wsdl:message>
  <wsdl:message name="getAllVendorResponse">
    <wsdl:part name="parameters" element="tns:getAllVendorResponse" />
  </wsdl:message>
  <wsdl:message name="addVendorRequest">
    <wsdl:part name="parameters" element="tns:addVendorRequest" />
  </wsdl:message>
  <wsdl:message name="addVendorResponse">
    <wsdl:part name="parameters" element="tns:addVendorResponse" />
  </wsdl:message>
  <wsdl:message name="updateVendorRequest">
    <wsdl:part name="parameters" element="tns:updateVendorRequest" />
  </wsdl:message>
  <wsdl:message name="updateVendorResponse">
    <wsdl:part name="parameters" element="tns:updateVendorResponse" />
  </wsdl:message>
  <wsdl:message name="deleteVendorRequest">
    <wsdl:part name="parameters" element="tns:deleteVendorRequest" />
  </wsdl:message>
  <wsdl:message name="deleteVendorResponse">
    <wsdl:part name="parameters" element="tns:deleteVendorResponse" />
  </wsdl:message>
  <wsdl:message name="getAllVendorCategoryRequest">
    <wsdl:part name="parameters" element="tns:getAllVendorCategoryRequest" />
  </wsdl:message>
  <wsdl:message name="getAllVendorCategoryResponse">
    <wsdl:part name="parameters" element="tns:getAllVendorCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="addVendorCategoryRequest">
    <wsdl:part name="parameters" element="tns:addVendorCategoryRequest" />
  </wsdl:message>
  <wsdl:message name="addVendorCategoryResponse">
    <wsdl:part name="parameters" element="tns:addVendorCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="updateVendorCategoryRequest">
    <wsdl:part name="parameters" element="tns:updateVendorCategoryRequest" />
  </wsdl:message>
  <wsdl:message name="updateVendorCategoryResponse">
    <wsdl:part name="parameters" element="tns:updateVendorCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="deleteVendorCategoryRequest">
    <wsdl:part name="parameters" element="tns:deleteVendorCategoryRequest" />
  </wsdl:message>
  <wsdl:message name="deleteVendorCategoryResponse">
    <wsdl:part name="parameters" element="tns:deleteVendorCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="getAllManufacturerRequest">
    <wsdl:part name="parameters" element="tns:getAllManufacturerRequest" />
  </wsdl:message>
  <wsdl:message name="getAllManufacturerResponse">
    <wsdl:part name="parameters" element="tns:getAllManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="addManufacturerRequest">
    <wsdl:part name="parameters" element="tns:addManufacturerRequest" />
  </wsdl:message>
  <wsdl:message name="addManufacturerResponse">
    <wsdl:part name="parameters" element="tns:addManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="updateManufacturerRequest">
    <wsdl:part name="parameters" element="tns:updateManufacturerRequest" />
  </wsdl:message>
  <wsdl:message name="updateManufacturerResponse">
    <wsdl:part name="parameters" element="tns:updateManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="deleteManufacturerRequest">
    <wsdl:part name="parameters" element="tns:deleteManufacturerRequest" />
  </wsdl:message>
  <wsdl:message name="deleteManufacturerResponse">
    <wsdl:part name="parameters" element="tns:deleteManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllManufacturerCatRequest">
    <wsdl:part name="parameters" element="tns:getAllManufacturerCatRequest" />
  </wsdl:message>
  <wsdl:message name="getAllManufacturerCatResponse">
    <wsdl:part name="parameters" element="tns:getAllManufacturerCatResponse" />
  </wsdl:message>
  <wsdl:message name="addManufacturerCatRequest">
    <wsdl:part name="parameters" element="tns:addManufacturerCatRequest" />
  </wsdl:message>
  <wsdl:message name="addManufacturerCatResponse">
    <wsdl:part name="parameters" element="tns:addManufacturerCatResponse" />
  </wsdl:message>
  <wsdl:message name="updateManufacturerCatRequest">
    <wsdl:part name="parameters" element="tns:updateManufacturerCatRequest" />
  </wsdl:message>
  <wsdl:message name="updateManufacturerCatResponse">
    <wsdl:part name="parameters" element="tns:updateManufacturerCatResponse" />
  </wsdl:message>
  <wsdl:message name="deleteManufacturerCatRequest">
    <wsdl:part name="parameters" element="tns:deleteManufacturerCatRequest" />
  </wsdl:message>
  <wsdl:message name="deleteManufacturerCatResponse">
    <wsdl:part name="parameters" element="tns:deleteManufacturerCatResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableImagesRequest">
    <wsdl:part name="parameters" element="tns:GetAvailableImagesRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableImagesResponse">
    <wsdl:part name="parameters" element="tns:GetAvailableImagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionsRequest">
    <wsdl:part name="parameters" element="tns:GetVersionsRequest" />
  </wsdl:message>
  <wsdl:message name="GetVersionsResponse">
    <wsdl:part name="parameters" element="tns:GetVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdditionalUserInfoRequest">
    <wsdl:part name="parameters" element="tns:GetAdditionalUserInfoRequest" />
  </wsdl:message>
  <wsdl:message name="GetAdditionalUserInfoResponse">
    <wsdl:part name="parameters" element="tns:GetAdditionalUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionsRequest">
    <wsdl:part name="parameters" element="tns:GetSessionsRequest" />
  </wsdl:message>
  <wsdl:message name="GetSessionsResponse">
    <wsdl:part name="parameters" element="tns:GetSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetWaitingListRequest">
    <wsdl:part name="parameters" element="tns:GetWaitingListRequest" />
  </wsdl:message>
  <wsdl:message name="GetWaitingListResponse">
    <wsdl:part name="parameters" element="tns:GetWaitingListResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyWaitingListRequest">
    <wsdl:part name="parameters" element="tns:NotifyWaitingListRequest" />
  </wsdl:message>
  <wsdl:message name="NotifyWaitingListResponse">
    <wsdl:part name="parameters" element="tns:NotifyWaitingListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoFromOrderIDRequest">
    <wsdl:part name="parameters" element="tns:GetUserInfoFromOrderIDRequest" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoFromOrderIDResponse">
    <wsdl:part name="parameters" element="tns:GetUserInfoFromOrderIDResponse" />
  </wsdl:message>
  <wsdl:portType name="VM_Users">
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersRequest" />
      <wsdl:output message="tns:GetUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="Authentification">
      <wsdl:input message="tns:authRequest" />
      <wsdl:output message="tns:authResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:addUserRequest" />
      <wsdl:output message="tns:addUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:deleteUserRequest" />
      <wsdl:output message="tns:deleteUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:sendMailRequest" />
      <wsdl:output message="tns:sendMailResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFromEmailOrUsername">
      <wsdl:input message="tns:getUserFromEmailOrUsernameRequest" />
      <wsdl:output message="tns:getUserFromEmailOrUsernameResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCountryCode">
      <wsdl:input message="tns:getAllCountryCodeRequest" />
      <wsdl:output message="tns:getAllCountryCodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthGroup">
      <wsdl:input message="tns:getAuthGroupRequest" />
      <wsdl:output message="tns:getAuthGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthGroup">
      <wsdl:input message="tns:addAuthGroupRequest" />
      <wsdl:output message="tns:addAuthGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthGroup">
      <wsdl:input message="tns:deleteAuthGroupRequest" />
      <wsdl:output message="tns:deleteAuthGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStates">
      <wsdl:input message="tns:getAllStatesRequest" />
      <wsdl:output message="tns:getAllStatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddStates">
      <wsdl:input message="tns:addStatesRequest" />
      <wsdl:output message="tns:addStatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStates">
      <wsdl:input message="tns:deleteStatesRequest" />
      <wsdl:output message="tns:deleteStatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetShopperGroup">
      <wsdl:input message="tns:getShopperGroupRequest" />
      <wsdl:output message="tns:getShopperGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddShopperGroup">
      <wsdl:input message="tns:addShopperGroupRequest" />
      <wsdl:output message="tns:addShopperGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShopperGroup">
      <wsdl:input message="tns:updateShopperGroupRequest" />
      <wsdl:output message="tns:updateShopperGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShopperGroup">
      <wsdl:input message="tns:deleteShopperGroupRequest" />
      <wsdl:output message="tns:deleteShopperGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:updateUserRequest" />
      <wsdl:output message="tns:updateUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddVendor">
      <wsdl:input message="tns:addVendorRequest" />
      <wsdl:output message="tns:addVendorResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVendor">
      <wsdl:input message="tns:getAllVendorRequest" />
      <wsdl:output message="tns:getAllVendorResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVendor">
      <wsdl:input message="tns:updateVendorRequest" />
      <wsdl:output message="tns:updateVendorResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVendor">
      <wsdl:input message="tns:deleteVendorRequest" />
      <wsdl:output message="tns:deleteVendorResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVendorCategory">
      <wsdl:input message="tns:getAllVendorCategoryRequest" />
      <wsdl:output message="tns:getAllVendorCategoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVendorCategory">
      <wsdl:input message="tns:updateVendorCategoryRequest" />
      <wsdl:output message="tns:updateVendorCategoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddVendorCategory">
      <wsdl:input message="tns:addVendorCategoryRequest" />
      <wsdl:output message="tns:addVendorCategoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVendorCategory">
      <wsdl:input message="tns:deleteVendorCategoryRequest" />
      <wsdl:output message="tns:deleteVendorCategoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturer">
      <wsdl:input message="tns:getAllManufacturerRequest" />
      <wsdl:output message="tns:getAllManufacturerResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddManufacturer">
      <wsdl:input message="tns:addManufacturerRequest" />
      <wsdl:output message="tns:addManufacturerResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturer">
      <wsdl:input message="tns:updateManufacturerRequest" />
      <wsdl:output message="tns:updateManufacturerResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturer">
      <wsdl:input message="tns:deleteManufacturerRequest" />
      <wsdl:output message="tns:deleteManufacturerResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturerCat">
      <wsdl:input message="tns:getAllManufacturerCatRequest" />
      <wsdl:output message="tns:getAllManufacturerCatResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddManufacturerCat">
      <wsdl:input message="tns:addManufacturerCatRequest" />
      <wsdl:output message="tns:addManufacturerCatResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturerCat">
      <wsdl:input message="tns:updateManufacturerCatRequest" />
      <wsdl:output message="tns:updateManufacturerCatResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturerCat">
      <wsdl:input message="tns:deleteManufacturerCatRequest" />
      <wsdl:output message="tns:deleteManufacturerCatResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableVendorImages">
      <wsdl:input message="tns:GetAvailableImagesRequest" />
      <wsdl:output message="tns:GetAvailableImagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetVersions">
      <wsdl:input message="tns:GetVersionsRequest" />
      <wsdl:output message="tns:GetVersionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAdditionalUserInfo">
      <wsdl:input message="tns:GetAdditionalUserInfoRequest" />
      <wsdl:output message="tns:GetAdditionalUserInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSessions">
      <wsdl:input message="tns:GetSessionsRequest" />
      <wsdl:output message="tns:GetSessionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetWaitingList">
      <wsdl:input message="tns:GetWaitingListRequest" />
      <wsdl:output message="tns:GetWaitingListResponse" />
    </wsdl:operation>
    <wsdl:operation name="NotifyWaitingList">
      <wsdl:input message="tns:NotifyWaitingListRequest" />
      <wsdl:output message="tns:NotifyWaitingListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoFromOrderID">
      <wsdl:input message="tns:GetUserInfoFromOrderIDRequest" />
      <wsdl:output message="tns:GetUserInfoFromOrderIDResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VM_UsersSOAP" type="tns:VM_Users">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetUsers" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authentification">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/Authentification" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/AddUser" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/DeleteUser" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/SendMail" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFromEmailOrUsername">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetUserFromEmailOrUsername" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCountryCode">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAllCountryCode" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthGroup">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAuthGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthGroup">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/AddAuthGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthGroup">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/DeleteAuthGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStates">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAllStates" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStates">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/AddStates" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStates">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/DeleteStates" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopperGroup">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetShopperGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShopperGroup">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/AddShopperGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShopperGroup">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/UpdateShopperGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShopperGroup">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/DeleteShopperGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/UpdateUser" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVendor">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAllVendor" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVendor">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/AddVendor" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVendor">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/UpdateVendor" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVendor">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/DeleteVendor" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVendorCategory">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAllVendorCategory" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVendorCategory">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/AddVendorCategory" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVendorCategory">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/UpdateVendorCategory" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVendorCategory">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/DeleteVendorCategory" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturer">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAllManufacturer" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddManufacturer">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/AddManufacturer" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturer">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/UpdateManufacturer" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturer">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/DeleteManufacturer" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturerCat">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAllManufacturerCat" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddManufacturerCat">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/AddManufacturerCat" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturerCat">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/UpdateManufacturerCat" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturerCat">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/DeleteManufacturerCat" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableVendorImages">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAvailableVendorImages" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersions">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetVersions" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdditionalUserInfo">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetAdditionalUserInfo" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessions">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetSessions" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaitingList">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetWaitingList" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyWaitingList">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/NotifyWaitingList" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoFromOrderID">
      <soap:operation soapAction="http://www.virtuemart.net/VM_Users/GetUserInfoFromOrderID" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VM_Users">
    <wsdl:port name="VM_UsersSOAP" binding="tns:VM_UsersSOAP">
      <soap:address location="http://www.magazziniautomatici.it/administrator/components/com_vm_soa/services/VM_UsersService.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>